Repository MicrosoftDocs/azure-management-docs, pull requests merged in 2024-12, with the labels that each got.

#32 Update windows-server-management-overview.md
  articles/azure-arc/servers/windows-server-management-overview.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc

#26 Update intro-connected-registry.md
  articles/container-registry/intro-connected-registry.md
Labels: aq-pr-triaged, inactive, do-not-merge, qualifies-for-auto-merge, azure-container-registry/svc, Change sent to author

#28 Added AzureFrontDoor.FirstParty in the list of service tags required …
  articles/azure-portal/azure-portal-safelist-urls.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-portal/svc, Change sent to author

#33 Updated Azure Portal Framework related Firewall rules
  articles/azure-portal/azure-portal-safelist-urls.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-portal/svc, Change sent to author

#36 Edit Az SSH Arc Doc to have more details nonpublic cloud support
  articles/azure-arc/servers/ssh-arc-overview.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc

#39 Update arc evaluation for linux steps
  articles/azure-arc/servers/plan-evaluate-on-azure-virtual-machine.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc
