Repository MicrosoftDocs/azure-management-docs, pull requests merged in 2025-04, with the labels that each got.

#60 Update validation-program.md
  articles/azure-arc/kubernetes/validation-program.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-arc/svc, azure-arc-kubernetes/subsvc

#64 Update azure-portal-safelist-urls.md
  articles/azure-portal/azure-portal-safelist-urls.md
Labels: aq-pr-triaged, ready-to-merge, azure-portal/svc, Change sent to author

#52 Update azure-portal-safelist-urls.md
  articles/azure-portal/azure-portal-safelist-urls.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-portal/svc, Change sent to author

#67 Update validation-program.md
  articles/azure-arc/kubernetes/validation-program.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, Change sent to author, azure-arc/svc, azure-arc-kubernetes/subsvc

#68 Correct indentation
  articles/azure-arc/kubernetes/azure-rbac.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-arc/svc, azure-arc-kubernetes/subsvc
