Repository MicrosoftDocs/azure-management-docs, pull requests merged in 2025-07, with the labels that each got.

#86 Update faq.md
  articles/azure-linux/faq.md
Labels: aq-pr-triaged, inactive, do-not-merge, Change sent to author, microsoft-linux/svc

#91 Update tutorial-azure-linux-migration.md
  articles/azure-linux/tutorial-azure-linux-migration.md
Labels: do-not-merge, Change sent to author, microsoft-linux/svc

#35 doc: Add a note to state the limitations of CMK-encrypted registry and update CLI tool versions
  articles/container-registry/container-registry-manage-artifact.md
  articles/container-registry/container-registry-tutorial-sign-build-push.md
  articles/container-registry/container-registry-tutorial-sign-trusted-ca.md
Labels: aq-pr-triaged, do-not-merge, needs-human-review, azure-container-registry/svc, Change sent to author

#93 Update container-registry-manage-artifact.md
  articles/container-registry/container-registry-manage-artifact.md
Labels: do-not-merge, azure-container-registry/svc, Change sent to author
