Repository MicrosoftDocs/azure-management-docs, pull requests merged in 2025-06, with the labels that each got.

#83 Update validation-program.md
  articles/azure-arc/kubernetes/validation-program.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-arc/svc, azure-arc-kubernetes/subsvc

#82 Update support-cycle.md
  articles/azure-linux/support-cycle.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, microsoft-linux/svc

#85 Update tasks-agent-pools.md
  articles/container-registry/tasks-agent-pools.md
Labels: aq-pr-triaged, do-not-merge, azure-container-registry/svc, Change sent to author

#87 Remove reference to Automation Account in the context of update manag…
  articles/azure-arc/servers/private-link-security.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc

#90 Fixed url in Bicep script
  articles/azure-arc/kubernetes/tutorial-use-gitops-argocd.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-arc/svc, azure-arc-kubernetes/subsvc

#84 Removal of unnecessary and duplicate commands and comments
  articles/azure-arc/edge-rag/configure-nfs-server.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-arc/svc
