Repository MicrosoftDocs/azure-management-docs, pull requests merged in 2025-02, with the labels that each got.

#44 Update arc-gateway.md
  articles/azure-arc/servers/arc-gateway.md
Labels: ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc

#45 Update arc-gateway.md
  articles/azure-arc/servers/arc-gateway.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc

#46 Update ssh-arc-troubleshoot.md
  articles/azure-arc/servers/ssh-arc-troubleshoot.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc

#48 fix typo in connectedk8s command
  articles/azure-arc/kubernetes/workload-identity.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-arc/svc, azure-arc-kubernetes/subsvc

#47 Update container-registry-import-images.md
  articles/container-registry/container-registry-import-images.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, azure-container-registry/svc, Change sent to author

#43 Update private cloud doc and some more details on sshd in prereqs
  articles/azure-arc/servers/ssh-arc-overview.md
Labels: aq-pr-triaged, do-not-merge, qualifies-for-auto-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc

#49 Update agent-overview.md
  articles/azure-arc/servers/agent-overview.md
Labels: aq-pr-triaged, ready-to-merge, qualifies-for-auto-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc
