Repository MicrosoftDocs/azure-management-docs, pull requests merged in 2025-05, with the labels that each got.

#72 Update tutorial-use-gitops-argocd.md
  articles/azure-arc/kubernetes/tutorial-use-gitops-argocd.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-arc/svc, azure-arc-kubernetes/subsvc

#74 Update arc-gateway.md - Correcting the directory locations of the arcproxy.log file for both Windows and Linux
  articles/azure-arc/servers/arc-gateway.md
Labels: aq-pr-triaged, ready-to-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc

#78 Update intro-azure-linux.md
  articles/azure-linux/intro-azure-linux.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, microsoft-linux/svc

#80 Update run-command.md
  articles/azure-arc/servers/run-command.md
Labels: aq-pr-triaged, do-not-merge, Change sent to author, azure-arc/svc, azure-arc-servers/subsvc
